<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
  </head>
  <body>
    Hello!
    <select id="filterList">
      <option>-- No Filter -- </option>
      <option>Country</option>
      <option>City</option>
      <option>Cuisine</option>
  </select>
  <p> 
    <table border="1"> 
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>City</th>
      <th>Cuisine Type</th>
    </tr>
    <tr> 
        <td> Insert Names </td>
        <td> Insert Countries </td>
        <td> Insert Cities </td>
        <td> Insert Cuisine types</td>

      
    </tr>
</table>
</p>
  </body>
</html>
