<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
    <style type="text/css">
      table{
          border: 2px solid rgb(85, 85, 206);
          background-color: aliceblue;
          width: 40em;
      }
      tr, td{
        border-top :2px solid rgb(85, 85, 206);
        padding-left: 3em;
        padding-right: 3em;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(85, 85, 206);
      }
      body {
        background-color: rgb(205, 205, 255);
      }
      .flex
      {
        display:flex;
        flex-direction: row;
        width: 50%;
        margin: auto;
      }
      button
      {
        background-color: rgb(85, 85, 206);
        border: 0;
        color: aliceblue;
        margin-right: 0.5em;
        margin-left: 0.5em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
      }
  </style>
  </head>
  <body>
    <div class = "flex">
    <select id="filterList">
      <option value="None">-- No Filter --</option>
      <option value="Country">Country</option>
      <option value="City">City</option>
      <option value="Cuisine">Cuisine</option>
  </select>
  <select id="List"> 
    <option value = "None">-- No Filter -- </option>
  </select>
  <button id="apply" onclick="applyFilter()"> Apply Filter </button>
  <button id="clear" disabled onclick="clearFilter()">Clear Filter</button>
    </div>
    <div class = "flex">
  <p> 
    <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Country</th>
              <th>City </th>
              <th>Cuisine Type </th>
          </tr>
      </thead>
      <tbody id="bodyTable">

      </tbody>
  </table>
</p>
</div>
<div class = "flex">
<p>
  <button id="previous"> Previous</button>
  <label id="countResults"></label>
  <button id="next">Next>></button>
</p>
<p>
  Rows to Display:
  <select id="tableList" value = 5>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
</p>
</div>
<script type = "text/javascript" src="functions.js"></script>
  </body>
</html>
