<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
    <style type="text/css">
      table, tr, td {
          border: 1px solid black;
          background-color: aliceblue;
      }
      tr, td{
        padding-left: 2em;
        padding-right: 2em;
      }
      body {
        background-color: rgb(205, 205, 255);
      }
      .flex
      {
        display:flex;
        flex-direction: row;
        width: 50%;
        margin: auto;
      }
  </style>
  </head>
  <body>
    <div class = "flex">
    <select id="filterList">
      <option value="None">-- No Filter --</option>
      <option value="Country">Country</option>
      <option value="City">City</option>
      <option value="Cuisine">Cuisine</option>
  </select>
  <select id="List"> 
    <option value = "None">-- No Filter -- </option>
  </select>
  <button id="apply">Apply Filter</button>
  <button id="clear">Clear Filter</button>
    </div>
    <div class = "flex">
  <p> 
    <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Country</th>
              <th>City </th>
              <th>Cuisine Type </th>
          </tr>
      </thead>
      <tbody>

      </tbody>
  </table>
</p>
</div>
<div class = "flex">
<p>
  <button id="previous"> Previous</button>
  Display Info Here
  <!--Need to Code Dropdown funciton that stores the number-->
  <button id="next">Next>></button>
</p>
<p>
  Rows to Display:
  <select id="tableList" value = 5>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
</p>
</div>
<script type = "text/javascript" src="functions.js"></script>
  </body>
</html>
