<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
  </head>
  <body>
    Hello!
    <select id="filterList">
      <option>-- No Filter -- </option>
      <option>Country</option>
      <option>City</option>
      <option>Cuisine</option>
  </select>
  <select id="List"> 
    <option>-- No Filter -- </option>
  </select>
  <button id="apply">Apply Filter</button>
  <button id="clear">Clear Filter</button>
  <p> 
    <table> 
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>City</th>
      <th>Cuisine Type</th>
    </tr>
    <tr> 
        <td> Insert Names </td>
        <td> Insert Countries </td>
        <td> Insert Cities </td>
        <td> Insert Cuisine types</td>

      
    </tr>
</table>
</p>
<p>
  <button id="previous"> Previous</button>
  Display Info Here
  <!--FUnction To Display Querry Result Number.?-->
  <button id="next">Next>></button>
</p>
  </body>
</html>
