<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
  </head>
  <body>
    Hello!
    <select id="filterList">
      <option>-- No Filter -- </option>
      <option>Country</option>
      <option>City</option>
      <option>Cuisine</option>
  </select>
  </body>
</html>
