<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
  </head>
  <body>
    Hello!
    <select id="filterList">
      <option>-- No Filter -- </option>
      <option>Country</option>
      <option>City</option>
      <option>Cuisine</option>
  </select>
  <select id="List"> 
    <option>-- No Filter -- </option>
  </select>
  <button id="apply">Apply Filter</button>
  <button id="clear">Clear Filter</button>
  <p> 
    <table> 
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>City</th>
      <th>Cuisine Type</th>
    </tr>
    <% for(let i = 0; i < 5; i++) { %>
    <tr> 
        <td> <%= results[i].name %> </td>
        <td> <%= results[i].country %> </td>
        <td> <%= results[i].city %> </td>
        <td> <%= results[i].cuisine %></td>
    </tr>
    <% } %>
</table>
</p>
<p>
  <button id="previous"> Previous</button>
  Display Info Here
  <!--Need to Code Dropdown funciton that stores the number-->
  <button id="next">Next>></button>
</p>
<p>
  Rows to Display:
  <select id="tableList" value = 5>
    <option>5</option>
    <option>10</option>
    <option>25</option>
    <option>50</option>
</p>
<script type="text/javascript">

</script>
  </body>
</html>
