<!DOCTYPE html>
<html>
  <head>
    <title>Restaurants</title>
    <style type="text/css">
      table, tr, td {
          border: 1px solid black;
          background-color: aliceblue;
      }
      tr, td{
        padding-left: 2em;
        padding-right: 2em;
      }
      body {
        background-color: rgb(205, 205, 255);
      }
      .flex
      {
        display:flex;
        flex-direction: row;
        width: 50%;
        margin: auto;
      }
  </style>
  </head>
  <body>
    <div class = "flex">
    <select id="filterList" onchange="dropBoxChange()">
      <option value="1">-- No Filter -- </option>
      <option value="2">Country</option>
      <option value="3">City</option>
      <option value="4">Cuisine</option>
  </select>
  <select id="List"> 
    <option>-- No Filter -- </option>
  </select>
  <button id="apply" onclick="applyFilter()"> Apply Filter </button>
  <button id="clear">Clear Filter</button>
    </div>
    <div class = "flex">
  <p> 
    <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Country</th>
              <th>City </th>
              <th>Cuisine Type </th>
          </tr>
      </thead>
      <tbody>

      </tbody>
  </table>
</p>
</div>
<div class = "flex">
<p>
  <button id="previous"> Previous</button>
  <label id="countResults">Display Info Here</label>
  <!--Need to Code Dropdown funciton that stores the number-->
  <button id="next">Next>></button>
</p>
<p>
  Rows to Display:
  <select id="tableList" value = 5>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="25">25</option>
    <option value="50">50</option>
</p>
</div>
  </body>
  <script type="text/javascript"></script>
  <script type="text/javascript">
    let table = document.querySelector('table tbody');
    let pageNumber = 0;
    let take = 3;
    //Need to figure out how to do this with ejs i guess.
    function dropBoxChange()
    {
      let checkedFilter = 
      document.querySelector('#filterList option:checked');
      let List = document.getElementById('List');
      List.innerHTML="";
      '<% for(let i = 0; i < result.length; i++)   { %>'
          if(checkedFilter.value=="2")
          List.innerHTML+=`<option value><%=result[i].country%></option>`;
          else if(checkedFilter.value=="3")
          List.innerHTML+=`<option><%=result[i].city%></option>`;
          else if(checkedFilter.value=="4")
          List.innerHTML+=`<option><%=result[i].cuisine%></option>`;
          '<% } %>' 
          console.log(checkedFilter.value)
     }

    function getData() {
        fetch(`/users?page=${pageNumber}&take=${take}`)
        .then(response => response.json())
        .then(data => {
            table.innerHTML = "";

            for(let i = 0; i < data.length; i++) {
                table.innerHTML += `
                    <tr>
                        <td>${data[i].name}</td>
                        <td>${data[i].country}</td>
                        <td>${data[i].city}</td>
                        <td>${data[i].cuisine}</td>
                    </tr>
                `;
            }
        });
    }

    function applyFilter()
    {

    }

    getData();
    
    document.querySelector("#previous").addEventListener("click", event => {
        // this needs to decrement the page number and re-fetch the data
        if(pageNumber != 0)
          pageNumber--;
        getData();
    });

    document.querySelector("#next").addEventListener("click", event => {
        // this needs to increment the page number and re-fetch the data
        pageNumber++;
        getData();
    });

    document.querySelector("#tableList").addEventListener("change", event => {
        // reset pageNumber to 0 to make it easier to work with
        // this needs to update the take and re-fetch the data
    pageNumber = 0;
    let perPage = document.querySelector('#tableList option:checked').value
    take = perPage;

    getData();
    });
    

    
</script>
</html>
